.logo{
    position: absolute;
      top:215px;
      left: 115px; 
   }
.contenedor {
    display: flex;
    margin:none
   }
.columna1, .columna2, .columna3 {
    display: flex;
    flex-direction: column;
  }
.arbol {
    width: 240px;
    height:  360px;
}

.flores-azules {
    width: 240px;
    height:  480px;
}
.nubes{
    width: 240px;
    height:  280px;
}
.taza {
    width: 320px;
    height:  360px;
}
.nieve {
    width: 320px;
    height:  280px;
}
.farol {
    width: 320px;
    height:  480px;
}

.arbol img, .flores-azules img, .nubes img, .taza img, .nieve img, .farol img {
    width: 100%;
    height: auto;
}
.negro {
    width:  155px;
    height:  215px;
   background-color: black;
   margin: 10px;
}

.azul {
    width:  155px;
    height:  215px;
    background-color:#0361ad;
    margin: 10px;
 }
 .celeste {
    width:  155px;
    height:  215px;
    background-color: #9fb5c1;
    margin: 10px;
 }
 .rosa {
    width:  155px;
    height:  215px;
    background-color: #f8c694;
    margin: 10px;l
 }
 .violeta {
   width:  155px;
    height:  215px;
    background-color: #822d55;
    margin: 10px;
    }
 .arbol, .flores-azules, .nubes, .taza, .nieve, .farol {
     margin: 9px 10px 9px 10px 

 }
 
 